
.map-container {
  position: relative;
  width: 100%;
  height: 80vh; 
  margin-bottom: 80px;
}

#map {
  position: relative;
  width: 85%; /* 지도 너비를 85%로 설정 */
  margin: 0 auto; 
  
}

.start-matching-button {
  background-color: #ff5722; 
  color: white;
  border: none;
  border-radius: 5px;
  padding: 14px 30px;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  bottom: 135px; 
  left: 50%;
  transform: translateX(-45%);
  z-index: 1000; 
  
}

.return-current-location {
  background-color: #4caf50; 
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  bottom: 140px; 
  right: 300px; 
  z-index: 1000;
}

.laterButton {
  padding:px 20px;
  background-color: #eee196 ;
  border : none;
  color: #0b550b;
  font-weight: bold;
margin-left: 10px;

}

.laterButton:hover {
  color: #967922;
 
}

.goButton:hover {
  color: #967922;
}


.goButton{
  padding:px 15px;
  background-color: #eee196 ;
  border : none;
  color: #72453e;
  font-weight: bold;
}

.create-marker-button {
  background-color: #967922; 
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  bottom: 140px; 
  left: 300px; 
  z-index: 1000;
}

.currentMatching{
  color: #3a3519;
  font-weight: bold;
  font-size: 18px;
}
.claosModal{
  position: relative;
  background-color:transparent ;
  border-radius: 13px;
  border: none;
}
