
.map-container {
  position: relative;
  width: 100%;
  height: 100vh; 
  padding-top: 120px;
  
  /* padding-top: px; */
}

#map {
  position: relative;
  width: 85%; /* 지도 너비를 85%로 설정 */
  height: 85%;
  margin: 0 auto; 
  
}

.start-matching-button {
  background-color: #ff5722; 
  color: white;
  border: none;
  border-radius: 5px;
  padding: 18px 35px;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  bottom: 200px; 
  left: 50%;
  transform: translateX(-45%);
  z-index: 1000; 
  
}

.return-current-location {
  background-color: #33a337; 
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  bottom:  215px; 
  right: 300px; 
  z-index: 1000;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-weight: 600;
}

.laterButton {
  padding:px 20px;
  background-color: #b6cef6 ;
  border : none;
  color: #0b550b;
  font-weight: bold;
margin-left: 10px;
border-radius: 10px;

}

.laterButton:hover {
  color: #225896;
 
}

.goButton:hover {
  color: #225896;
}


.goButton{
  padding:px 15px;
  background-color: #b6cef6 ;
  border : none;
  color: #72453e;
  font-weight: bold;
  border-radius: 10px;
}

.create-marker-button {
  background-color: #9b8136; 
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  position: absolute;
  bottom: 215px; 
  left: 300px; 
  z-index: 1000;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-weight: 600;
}

.currentMatching{
  color: #3a3519;
  font-weight: bold;
  font-size: 18px;
}
.claosModal{
  position: relative;
  background-color:transparent ;
  border-radius: 13px;
  border: none;
}


.claosModal{
  position: relative;
  right: -130px;
  top: -22px;
  font-size: 25px;
}

