.modal-overlay {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 75%;
  /* background-color: rgba(104, 104, 104, 0.5); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 800;


}
.modal-text {
    background-color: rgba(117, 197, 73, 0.9); 
    padding: 20px;
    border-radius: 15px; 
    width: 600px;
    max-width: 100%;
    text-align: center;
    color: black;
    display: flex;
  }

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-close-button {
padding-top: 15px;
  background: none;
  border: none;
  font-size: 15tpx;
  cursor: pointer;
text-align: center;
}

.modal-body {
  margin-top: 10px;
}
